---
layout : bootstrap
---
<style>
    /* 스타일 변경 */
    .no-link {
        text-decoration: none;
        color: black;
        cursor: default;
    }

    /* 활성 링크 스타일 유지 */
    .no-link:hover,
    .no-link:active {
        color: inherit;
        cursor: default;
    }

    header {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    header>div {
        display: flex;
        justify-content: center;
        /* 가로 중앙 정렬 */
        align-items: center;
        /* 세로 중앙 정렬 */
    }
</style>
<header>
    <div>
        <a class="no-link" href="index.html"><img src="./img/hanalogo1.png"></a>
    </div>
    <div>
        <h2>
            하나 도서관
        </h2>
    </div>
</header>

{{content}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        //패스워드 체크
        let passwd = document.querySelector("#inputPassword");
        let passwdck = document.querySelector("#inputPassword2");

        let message = document.createElement("p");
        message.style.color = "green";
        message.style.fontWeight = "bold";

        passwdck.addEventListener("input", function () {
            if (passwd.value === passwdck.value) {
                message.textContent = "비밀번호가 일치합니다.";
            } else {
                message.textContent = "비밀번호가 일치하지 않습니다.";
            }
        });

        //핸드폰 번호 형식
        let phoneNumberInput = document.querySelector("#inputPhoneNumber");

        phoneNumberInput.addEventListener("focus", function () {
            formatPhoneNumberInput(this);
        });

        phoneNumberInput.addEventListener("input", function () {
            formatPhoneNumberInput(this);
        });

        function formatPhoneNumberInput(input) {
            let phoneNumber = input.value.replace(/[^0-9]/g, ''); // 숫자 이외의 문자 제거
            let formattedPhoneNumber = formatPhoneNumber(phoneNumber);
            input.value = formattedPhoneNumber;
        }

        function formatPhoneNumber(phoneNumber) {
            let formattedNumber = phoneNumber;
            if (phoneNumber.length > 3) {
                formattedNumber = phoneNumber.replace(/(\d{3})(\d)/, "$1-$2");
            }
            if (phoneNumber.length > 7) {
                formattedNumber = phoneNumber.replace(/(\d{3})(\d{4})(\d{0,4}).*/, "$1-$2-$3");
            }
            return formattedNumber;
        }





        //회원가입 버튼
        let signupButton = document.getElementById("signupButton");
        if (signupButton) {
            signupButton.addEventListener("click", function () {
                if (document.getElementById("gridCheck").checked) {
                    signup(); // 체크박스가 선택되어 있을 경우 회원가입 절차를 진행합니다.
                    showMessage(""); // 회원가입 절차가 진행되면 메시지를 초기화합니다.
                } else {
                    showMessage("회원가입을 위해서는 약관에 동의해야 합니다."); // 체크박스가 선택되지 않은 경우 메시지를 표시합니다.
                }
            });
        }

        function showMessage(message) {
            let messageContainer = document.getElementById("messageContainer");

            if (messageContainer) {
                // 메시지 컨테이너가 이미 존재하는 경우 내용을 변경합니다.
                messageContainer.textContent = message;
            } else {
                // 메시지 컨테이너가 존재하지 않는 경우 새로 생성합니다.
                messageContainer = document.createElement("p");
                messageContainer.id = "messageContainer";
                messageContainer.style.color = "red";
                messageContainer.style.fontWeight = "bold";
                let form = document.querySelector(".main form");
                form.appendChild(messageContainer);
            }

            if (message === "") {
                // 메시지가 빈 문자열인 경우 메시지 컨테이너를 숨깁니다.
                messageContainer.style.display = "none";
            } else {
                // 메시지가 비어있지 않은 경우 메시지 컨테이너를 보여줍니다.
                messageContainer.style.display = "block";
                messageContainer.textContent = message;
            }
        }
    });

</script>
<br><br><br><br><br>
<footer>
    {% include footer.html %};
</footer>